.lists {
  margin-top: -70px;
}

footer {
  margin: 50px;
  text-align: center;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
